*{
    margin:0;
    font-family: 'Nunito Sans', sans-serif;
    color: #252d25;
}
#app{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    background-color: #dde1dd;
}
#not_logged_in{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#log_in_screen{
    display: flex;
    font-size: xx-large;
}
#log_in_screen button{
    font-size: xx-large;
    margin-right: 1ch;
}
.profile_picture{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 1px #c9cfc9 solid;
    display:flex;
    align-items:center;
    justify-content:center;
}
.profile_picture.loading{
    animation: blinking 2s linear infinite;
}
@keyframes blinking
{
    0%   {background-color: rgb(255,255,255);}
    50% {background-color: rgb(200,200,200);}
    100% {background-color: rgb(255,255,255);}
}
.message_list{
    flex:1;
    max-height: 100%;
    overflow-y:auto;
    padding-right: 8px;
    display: flex;
    flex-direction: column-reverse;
}
.message_username, .reply_username, .my_username, .read_username{
    color:#666666;
    font-style: italic;
}
ul{
    list-style: none;
    padding: 0;
}
#rest{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    justify-content:flex-start;
}
#below_header{
    flex-grow: 1;
    display: flex;
    max-height: 100%;
    flex-direction: row;
    overflow-y: auto;
}
.message_user, .reply_user{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
}
.message_name, .reply_name, #my_name, .name{
    font-weight: 700;
}
.message_content{
    max-width: 99%;
}
.message_content_container{
    min-width: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 4px;
}

.message_container{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.message_like button{
    height: 1.1em;
    padding: 0;
    background: none;
    border: none;
    padding-right: 0.2em;
}
.date_container{
    display:flex;
    flex-direction: row;
    margin-left: 8px;

}
.like_container, .row{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display:flex;
    flex-direction: column;
}
.message_like button img{
    height: 100%;
}
.message_content{
    font-size: large;
}
.read_list {
    position: relative;
}
.message_date, .message_edit_date{
    font-size: small;
}
.message_date{
    margin-right: 1em;
}
.delete_button, .edit_button{
    display:grid;
}
.read_list > ul{
    border-radius: 4px;
    transform: scale(0);
    display:block;
    position: absolute;
    bottom: 100%;
    background: hsl(120, 13%, 92%);
    border: 1px solid #c9cfc9;
    transition: 100ms;
    transition-delay: 0ms;
    z-index: 1;
    margin-left: 3em;
    padding: 0.2em 1em
}
.read_user{
    display: flex;
    flex-direction: row;
}
.read_list{
    width: max-content;
}
.number_seen {
    font-size: small;
    width: max-content;
    border-bottom: 1px dotted black;
    line-height: 0.8;
    margin: 0.5em 0;
}
.no_one_seen{
    font-size: small;
    width: max-content;
    line-height: 0.8;
    margin: 0.5em 0;
}
.read_list:hover > ul{
    transform:scale(1);
    transition: 100ms;
    transition-delay: 200ms;
    transform-origin: bottom center;
    
}
.read_container{
    position: relative;
}
img{
    max-width: 500px;
    max-height: 500px;
}
header{
    padding: 0.5em 0;
    align-items: center;
    display:flex;
    border-bottom: 1px solid #c9cfc9;
}

#channel_input, #private_input_container{
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid #c9cfc9;
}
#sidebar{
    padding: 8px;
}
#rest{
    padding: 8px;
}
#my_picture{
    margin-left: auto;
    margin-right: 8px;
}
#mathjax_preview:not(.mathjax){
   display: none;
}
.reply_mathjax_preview:not(.mathjax){
    display: none;
}
#mathjax_preview, .reply_mathjax_preview{
    background-color: #c9cfc9;
    margin-right: 24px;
    margin-top:4px;
    border-radius: 4px;
}
.reply_mathjax_preview{
    margin-right: 0px;
}
#mathjax_preview >div, .reply_mathjax_preview > div{
    padding: 4px 16px;
}
#mathjax_preview_content, .reply_mathjax_preview_content{
    border: 1px solid #c9cfc9;
    background-color: #dde1dd;
    padding: 4px 16px;
    border-radius: 4px;
}
#my_username{
    margin-right: 8px;
}
header{
    padding: 4px 8px;
}
#my_name{
    display: flex;
    flex-direction: row;
}
.edit_button>img, .delete_button>img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;

}
.message_content{
    
    word-wrap: break-word;
    min-width: 1px;
}
.message_content_container{
    flex-grow: 1;
    flex-shrink: 1;
    
    
}
pre{  
    white-space: pre-wrap;
    word-wrap: break-word;
    line-break: anywhere;
    min-width: 1px;
}

.edit_button, .delete_button{
    height:1.5em;
    width: 1.5em;
    padding: 0;
    margin-right: 4px;
    margin-top: 4px;
}
.message_picture{
    padding-top:4px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.like_count{
    font-size: large;
}
.confirmation_container{
    position: relative;
}
.delete_confirmation{
    position: absolute;
    background: white;
    width: max-content;
    right:0px;
}
.delete_button{
    display: flex;
}
#edit_profile_screen, #edit_latex_screen, #edit_code_screen{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(50,50,50,0.5);
    backdrop-filter: blur(1px);
    z-index: 2;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit_latex_modal{
    display: flex;
    flex-direction: row;
}
#latex_textarea{
    height: 100%;
    width: 100%;
    resize: none;
    overflow: hidden;
}
#latex_input{
    padding: 10px 4px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#latex_preview_content{
    flex-grow: 1;

}
code{
    font-family: 'Source Code Pro', monospace;
}
#latex_textarea{
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
}
#latex_preview pre{
    
    background-color: #c9cfc9;
    padding:4px;
    border-radius: 4px;
}
#latex_preview{
    padding: 16px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #c9cfc9;
}
#latex_preview code{
    font-weight: 700;
}
#latex_preview code em{
    opacity: 0.5;
    
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
}
.delete_confirmation{
    padding: 0.2em 1em;
    background: #dde1dd;
    border: 1px solid #c9cfc9;
}
img {
    object-fit: cover;
  }

.definition{
    text-decoration: dotted underline;
    display: inline;
    position: relative;
}
.definition div{
    position: absolute;
    opacity: 0;
    scale:0;
    transition: 200ms;
    transition-property: opacity;
    transition-delay: 150ms;
    background: #c9cfc9;
    border: 1px solid #dde1dd;
    bottom: 100%;
    right:0%;
    padding: 4px 8px;
    border-radius: 4px;
    width: max-content;
}
.definition:hover div{
   opacity: 1;
   scale:1;
   
   display:inline;
}
#edit_latex_modal{
    position: relative;
    background: #eef2ee;
    width: 75%;
    height: 70%;
    border-radius: 8px;
}
#edit_profile_modal{
    position: relative;
    background: #eef2ee;
    width: 50%;
    height: 60%;
    border-radius: 8px;   
}
#edit_profile_modal{
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#my_name{
    margin-left: 4px;
}
.my_username{
    margin-left: 4px;
    margin-right: 8px;
}
#my_name button{
    margin-left: 8px;
}

.message_picture .profile_outside_container{
    justify-content: flex-start;
}
.message_picture .profile_picture_container{
    align-items: start;
}
#edit_profile_modal *{
    font-size: large;
}
#edit_profile_modal #my_picture{
    height: 70%;
    margin: 0;
    width: max-content;
}
#edit_profile_screen .profile_outside_container{
    height: 100%;
    width: max-content;
    align-items: center;
}
#edit_profile_screen .profile_picture_form{
    padding: 8px;
    align-items: center;
}
.message_list .profile_outside_container, header .profile_outside_container{
    height: 50px;
}
.message_list .profile_picture_form, header .profile_picture_form{
    height: 50px;
}
input{
    border-radius: 4px;
    border: 1px solid #c9cfc9;
}
.usernameRequest{
    align-items: center;
}
#file2+label{
    margin-right: 8px;
}
#file+label, #file2+label{
    text-decoration: dotted underline;
}
.profile_picture_container{
    align-items: center;
    flex-grow: 1;
    height: 1px;
    width: max-content;
}
#edit_profile_modal .profile_picture{
    aspect-ratio : 1 / 1;
    max-width: none;
    max-height: 100%;
    min-width: auto;
    min-height: 100%;
}
#close_button{
    position: absolute;
    top: 8px;
    right: 8px;
}
.reply_input{
    flex-grow: 1;
}
.message_content, .reply_content{
    border: 1px solid #c9cfc9;
    background: #dde1dd;
    padding: 4px;
    border-radius: 4px;
    width: max-content;
}
#button_container{
    
    align-self: flex-end;
    margin-top: 4px;
}
#done_button, #cancel_button{
    width: max-content;
    padding: 4px 2em;
    margin-right: 4px;
}
.reply_input{
    align-self: stretch;
}
.button_background{
background-color: hsl(120, 16%, 76%);
border-radius: 4px;
padding: 4px;
border: 1px solid #a5b8a5
}
.button_background:not(#specificity_increase):active{
    background-color: hsl(120, 16%, 66%);

}
#my_picture > .profile_picture_container{
    display: flex;
    flex-direction: row;
    align-self: center;
}
#send_message{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

#text_input{
    flex-grow: 1;
    height: 3em;
    resize: none;
    margin-right: 8px;
}
#insert_container{
    margin-right: 8px;
    position: relative;
}
#insert_list{
    position: absolute;
    bottom:100%;
    right:0%;
    background-color: #c9cfc9;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #eef2ee;

}
#insert_list li{
    width: max-content;
    margin: 4px 0;
}
input[type = "submit"]{
    align-self: stretch;
}
.edit_input{
    flex-grow:1;
    align-self: stretch;
    font-size: medium;
}
#send_message input[type ="submit"]{
    
    margin-left: 8px;
}
#file, .profile_picture_form  input[type= "file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file+label, #file2+label{
    cursor:pointer;
}
#send_message{
    flex-grow: 1;
}
#chat_format_input{
    display: flex;
    flex-direction: column;
    min-width: max-content;
}
.input_label, .private_input_label{
    font-style: italic;
}
#private_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#private_submit{
    width: max-content;
}
#recipient{
    max-width: 100%;
}
#sidebar input:not([type="submit"]), #sidebar label:not(.input_label, .private_input_label){
    font-weight: 700;
    font-size: medium;
}
#text_input, .reply_input{
    font-size: medium;
}
#sidebar{
    min-width: 20%;
    max-width: 20%;
    border-right: 1px solid #c9cfc9;
}
#rest{
    flex-grow: 1;
}
#no_messages{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
}
#channel_input{
    display: flex;
    flex-direction: column;
}
.message_replies ul{
    padding-left: 4px;
    border-left: 1px #c9cfc9 solid;
    margin: 0.2em 0;
}
.message_container{
    border-radius: 4px;
    margin-top: 4px;
    padding-bottom: 4px;
    background-color: #eef2ee;
}
#edit_profile_button{
    margin: 0 8px;
}

button{
    background: none;
    border:none;
    text-decoration: underline;
    border-radius: 4px;
    padding: 0;
    font-size: medium;
}
#cancel_file{
    margin-left: 2px;
}
#file_name{
    padding: 0 2px;
    margin: 0 2px;
    border-radius: 2px;
    font-style: italic;
    background: #c9cfc9;
}
input[type="submit"]{
    font-size:medium;
}
input[type="submit"]:hover{
    scale:1.1;
    cursor:pointer;
}
button:hover{
    scale:1.1;
    cursor: pointer;
}
input[type="submit"]:active{
    
    background: rgb(0,0,0,0.1);
    scale:0.95;
}
button:active{
    scale:0.95;
    
}
button:not(.like_button):active{
    background: rgb(0,0,0,0.1);
}
.like_container .v-enter-active{
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0,1.04,.86,1.82);
}

.like_container .v-enter-from{
  transform : scale(0);
}
div.v-enter-active, div.v-leave-active{
    transform: scale(1);
    transform-origin: center right;
    transition: transform 0.2s ease;
  }
  
div.v-enter-from, div.v-leave-to{
    transform : scale(0);
}

li.v-enter-active, li.v-leave-active{
    transform: scaleY(1);
    transition: transform 0.2s ease;
  }
  
li.v-enter-from, li.v-leave-to{
    transform : scaleY(0);
}
.reply_list.v-enter-active, .reply_list.v-leave-active{
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.2s ease;
  }
.yes_button{
    padding:0 0.5em
}
.reply_list.v-enter-from, .reply_list.v-leave-to{
    transform : scale(0);
}
.delete_button.v-enter-active{
    transform: scale(1);
    transform-origin: center center;
    transition: 150ms;
    transition-delay: 150ms;
  }
  
.delete_button.v-enter-from{
    transform : scale(0);
}
.insert-enter-active, .insert-leave-active{
    transform: scaleY(1);
    transform-origin: bottom center;
    transition: transform 0.15s ease;
  }
  
.insert-enter-from, .insert-leave-to{
    
    transform-origin: bottom center;
    transform : scaleY(0);
}